/.vs

/Clock_cs/bin
/Clock_cs/obj
/Clock_cs/.vs

/Clock_csc/.vs
/Clock_csc/Clock_csc.csproj.user
/Clock_csc/bin
/Clock_csc/obj

/Clock_vc/Debug
/Clock_vc/_Clock.vcxproj.user

/ClockAndToolbar/bin
/ClockAndToolbar/obj

/Toolbar/obj
/Toolbar/bin

/Weather/bin
/Weather/obj
