/.vs

/Clock_cs/bin
/Clock_cs/obj
/Clock_cs/.vs

/Clock_csc/.vs
/Clock_csc/Clock_csc.csproj.user
/Clock_csc/bin
/Clock_csc/obj

/Clock_vc/Debug
/Clock_vc/Release
/Clock_vc/_Clock.vcxproj.user

/ClockAndToolbar/.vs
/ClockAndToolbar/bin
/ClockAndToolbar/obj

/Toolbar/.vs
/Toolbar/obj

/Weather/.vs
/Toolbar/bin

/Weather/bin
/Weather/obj

/Clock_cs_v2/.vs
/Clock_cs_v2/Clock_cs_v2.csproj.user
/Clock_cs_v2/bin
/Clock_cs_v2/obj

/Clock_csc_v2/.vs
/Clock_csc_v2/Clock_csc_v2.csproj.user
/Clock_csc_v2/bin
/Clock_csc_v2/obj

/x64
/Clock_vc_mfc/x64
/Clock_vc_mfc/Clock_vc_mfc.vcxproj.user